  table {
      border-collapse: collapse;
      width: 100%;
      border: 1px solid #ddd;
    }
    h2{
        text-align: center;
        font-style: italic;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }
