.rg{
    height: 40%;
    width: 20%;
    margin-left: 30%;
    padding: 10px;
    border: solid;
    border-radius: 5px;
    margin-top: 10%;
    box-shadow: 1px 1px 3px;
  
}
   
.rg h1{
    text-align: center;
    color: aqua;
}
